body {
background:
radial-gradient(hsl(0, 100%, 27%) 4%, hsl(0, 100%, 18%) 9%, hsla(0, 100%, 20%, 0) 9%) 0 0,
radial-gradient(hsl(0, 100%, 27%) 4%, hsl(0, 100%, 18%) 8%, hsla(0, 100%, 20%, 0) 10%) 50px 50px,
radial-gradient(hsla(0, 100%, 30%, 0.8) 20%, hsla(0, 100%, 20%, 0)) 50px 0,
radial-gradient(hsla(0, 100%, 30%, 0.8) 20%, hsla(0, 100%, 20%, 0)) 0 50px,
radial-gradient(hsla(0, 100%, 20%, 1) 35%, hsla(0, 100%, 20%, 0) 60%) 50px 0,
radial-gradient(hsla(0, 100%, 20%, 1) 35%, hsla(0, 100%, 20%, 0) 60%) 100px 50px,
radial-gradient(hsla(0, 100%, 15%, 0.7), hsla(0, 100%, 20%, 0)) 0 0,
radial-gradient(hsla(0, 100%, 15%, 0.7), hsla(0, 100%, 20%, 0)) 50px 50px,
linear-gradient(45deg, hsla(0, 100%, 20%, 0) 49%, hsla(0, 100%, 0%, 1) 50%, hsla(0, 100%, 20%, 0) 70%) 0 0,
linear-gradient(-45deg, hsla(0, 100%, 20%, 0) 49%, hsla(0, 100%, 0%, 1) 50%, hsla(0, 100%, 20%, 0) 70%) 0 0;
background-color: #300;
background-size: 100px 100px;;
}
.Cardfront {
	width : 58px;
	height: 85px;
	background-color : #fff;
	border: 1px solid #000 ;
	border-radius: 4px;
	margin: -8px;
	padding: 1px;
}
.Front {
	width : 58px;
	height: 85px;
}
.Frontface {
	width : 100%;
	height: 100%;
}
.Innercontent {
	white-space: pre;
	width : 58px;
	height: 85px;
	font-size: 15px;
	line-height: 11px;
	padding: 1px;
	margin: 1px 0px 0px 2px;
}
@media all and (max-width: 1050px) 
{
	.Cardfront{
		width: 52px;
		height: 75px;
	}
	.Innercontent {
		width: 48px;
		height: 75px;
		line-height: 9px;
	}
}

@media all and (max-width: 950px) 
{
	.Cardfront{
		width: 50px;
		height: 72px;
	}
	.Innercontent {
		width: 46px;
		height: 72px;
		font-size: 13px;
	}
}
